Source: libmoosex-types-iso8601-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0)
Build-Depends-Indep: perl (>= 5.8.8-1), libdatetime-perl (>= 0.41), libnamespace-autoclean-perl (>= 0.05), libmoosex-types-datetime-perl (>= 0.03), libmoosex-types-perl (>= 0.10), libdatetime-format-duration-perl (>= 1.03), libmoose-perl (>= 0.79), libtest-simple-perl (>= 0.88-1), libclass-c3-perl
Maintainer: Tomas Doran <t0m@state51.co.uk>
Standards-Version: 3.7.2
Homepage: http://search.cpan.org/dist/MooseX-Types-ISO8601/

Package: libmoosex-types-iso8601-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libdatetime-perl (>= 0.41), libnamespace-autoclean-perl (>= 0.05), libmoosex-types-datetime-perl (>= 0.03), libmoosex-types-perl (>= 0.10), libdatetime-format-duration-perl (>= 1.03), libmoose-perl (>= 0.79), libclass-c3-perl
Description: ISO8601 date and duration string type constraints and coercions for Moose
 This module packages several TypeConstraints|Moose::Util::TypeConstraints with
 coercions for working with ISO8601 date strings and the DateTime suite of objects.
 .
 This description was automagically extracted from the module by dh-make-perl.
